<div class="top-blog-label">
  <a href="/about/" class="top-label-title">ABOUT</a>
</div>
<div class="about-top-content">
  Hello! My name is Yuki Sato. I am a Berlin-based full-stack engineer. <br>
  はじめまして、ベルリン在住ソフトウェアエンジニアの佐藤有希です。
</div>
<center>
  <a href="/about/" class="hover-gray">
    <i class="fas fa-caret-right caret-right"></i>
    <i class="fas fa-caret-right caret-right"></i>
  </a>
</center>
<div class="top-blog-label">
  <a href="/work/" class="top-label-title">WORK</a>
</div>
<div class="top-work-list">
  {% capture my_include %}{% include_relative _worklist.md %}{% endcapture %}
  {{ my_include | markdownify}}
</div>
<center>
  <a href="/work/" class="hover-gray">
    <i class="fas fa-caret-right caret-right"></i>
    <i class="fas fa-caret-right caret-right"></i>
  </a>
</center>