<div class="top-container">
  <div class="top-main-content">
    <div class="top-blog-label">
          <a href="/blog/" class="top-label-title">BLOG</a>
    </div>
    {% include toppage-blog-list.html %}
    <div class="top-left-bottom-carret">
      <a href="/blog/" class="hover-gray">
        <i class="fas fa-caret-right caret-right"></i>
        <i class="fas fa-caret-right caret-right"></i>
      </a>
    </div>
  </div>
  <div class="top-side-bar">
    {% include top-sidebar.html %}
  </div>
</div>
