<nav>
  <div class="nav-container">
    <div class="nav-left">
      <a href="/" class="hover-line">{{ site.title }}</a>
    </div>
    <div class="nav-center">
        <ul>
          <li><a href="/blog/" class="hover-line">Blog</a></li>
          <li><a href="/work/" class="hover-line">Work</a></li>
          <li><a href="/about/" class="hover-line">About</a></li>
        </ul>
    </div>
    <div class="nav-right">
      <a href="https://twitter.com/yuki_sat" target="_blank"><i class="fab fa-twitter circle-tw"></i></a>
      <a href="https://www.facebook.com/sato.youxi" target="_blank">
      <i class="fab fa-facebook-f circle-fb"></i></a>
    </div>
  </div>
</nav>
