{% for post in site.posts limit:7 %}
 <div class="top-blog-list-container">
  <div class="top-blog-list-left">
    <a href="{{ post.url }}"><img src="/img/{{ post.image }}" width="120px;" alt=""></a>
  </div>
  <div class="top-blog-list--right">
    <div class="top-blog-list-title">
      <h4><a href="{{ post.url }}" class="hover-gray">{{ post.title }}</a></h4>
      <ul class="post-top-tags">
      {% for tag in post.tags %}
      <li><a href="/tag/{{ tag }}" class="home-tag">{{ tag }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <p class="top-blog-list-description">
      {{ post.description }}
    </p>
    <p class="top-blog-list-post-date">{{ post.date | date: "%Y-%m-%d" }} </p>
  </div>
</div>
{% endfor %}
