{% for post in site.posts %}
 <div class="top-blog-list-container">
  <div class="top-blog-list-left">
    <a href="{{ post.url }}"><img src="/img/{{ post.image }}" width="120px;" alt=""></a>
  </div>
  <div class="top-blog-list--right">
    <h4 class="top-blog-list-h4"><a href="{{ post.url }}" class="blog-link">{{ post.title }}</h4></a>
    <p class="top-blog-list-description">
      {{ post.description }}
    </p>
    <p class="top-blog-list-post-date">{{ post.date | date: "%Y-%m-%d" }} </p>
  </div>
</div>
{% endfor %}
