/*
    heading tag
    ======================== */

h1 {
  font-size: 1.75em;
  line-height: 1.8em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.3em;
  padding: 0.2em 0.8em;
  border-left: solid 5px #333;
}
