body {
  margin: 0;
  padding: 0;
  background: #fff;
  height: auto;
}

nav {
  height: 40px;
  background: #fff;
  border-bottom: 2px solid #E0E0E0;
  padding-top: 10px;
}


@media(min-width:550px){
      .nav-container {
        display: flex;
        justify-content: space-around;
      }

      .top-container {
        display: flex;
        margin-top: 20px;
      }
}

.nav-container {
  width: 1000px;
  margin: 0 auto;
}

.nav-left {
   flex-basis: 20%;
   font-size: 1.1em;
   font-weight: 500;
}

.nav-center {
  flex-basis: 40%;
  font-size: 0.85rem;
  text-transform: uppercase;
  text-align: right;
}

.nav-right {
 flex-basis: 10%;
 text-align: center;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  // text-align: right;
}

nav li {
  display: inline-block;
  padding-left: 20px;

  &:first-child {
    padding-left: 0;
  }
}

section {
  position: relative;
}

.top-container {
  width: 900px;
  margin: 20px auto 0px;
}

footer {
  background: #eee;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: #606060;
}


// post-layout //


.post-container {
  flex-basis: 58%;
  padding: 0 6%;
  margin-top: 35px;
}

.side-bar {
  flex-basis: 25%;
  margin-top: 60px;
  padding: 10px;
}

.section-one-column {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

.blog-link-side {
  font-size: 0.8rem;
  line-height: 0.5rem;
}

.post-date-side {
  font-size: 0.7rem;
  color: #989898;
}

.side-bar ul {
  padding: 0;
}

.side-bar li {
  font-size: 0.9rem;
  line-height: 1.3;
  list-style: none;
  padding-left: 0.5rem;
  background: #fff;
  margin-bottom: 7px;
  border-left: solid 8px #eee;
}

//top-page.html //

.top-main-content {
  flex-basis: 70%;
  padding: 15px;
}

.top-side-bar {
  flex-basis: 30%;
  padding: 15px;
}

.top-blog-label {
  border-bottom: 1px solid #ccc;
}


.top-blog-list-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}

.top-left-bottom-carret {
  margin-top: 20px;
  text-align: center;
}

.top-blog-list-left {
  flex-basis: 25%;
  padding: 16px 10px 10px 0;
}

.top-blog-list--right {
  flex-basis: 72%;
}

.top-blog-list-title {
  line-height: 1.5rem;
  margin-top: 10px;
}

.top-blog-list-h4 {
  color: #333;
  font-size: 1rem;
  display: inline;
}

.top-blog-list-description {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 8px 0 0 0;
}

.top-blog-list-post-date{
  font-size: 0.7rem;
  color: #aaa;
  margin: 0;
}

.about-top-content {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 15px 0;
}

.top-work-list li{
  display: none;
  margin-bottom: 12px;
  &:nth-child(-n+5) {
    display: list-item;
  }
}

.top-work-list ul {
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding-left: 0;
}

.footer-social {
  line-height: 1rem;
}

.footer-nav-menu {
  font-size: 0.8rem;
  color: #888;
  margin-top: 20px;
}

.footer-font {
  font-size: 0.7em;
  color: #606060;
  margin-top: 0;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

/*
  ======  550px ======
*/

@media (max-width: 550px) {
  .nav-container {
    position: absolute;
    display: flex;
    width: 95%;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .nav-left {
   flex: 1;
   margin-left: 20px;
  }

  .nav-center {
    flex: 3;
    margin-right: 20px;
  }

  .nav-right {
    display: none;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  nav li {
    display: inline-block;
    padding-left: 20px;
  }

  .top-container {
    width: 95%;
  }

  .section-one-column {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }

  .section-container {
    margin: 0 auto;
    width: 90%;
    text-align: left;
    float: none;
    padding-left: 0;
  }

  .side-bar {
    // background: #eee;
    display: none;
  }
}
