body {
  margin: 0;
}

nav {
  height: 50px;
  background-color: #eee;
  position: relative;
}

.nav-container {
  position: absolute;
  display: flex;
  width: 80%;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.nav-left {
 flex: 2;
 margin-left: 50px;
}

.nav-right {
  flex: 3;
  margin-right: 50px;
  font-size: 0.85rem;
  text-transform: uppercase;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  padding-left: 20px;

}

section {
  position: relative;
}

.section-container {
  // position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px auto;
  width: 70%;
  text-align: left;
}

/*
  ======  550px ======
*/

@media (max-width: 550px) {
  .nav-container {
    position: absolute;
    display: flex;
    width: 95%;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .nav-left {
   flex: 1;
   margin-left: 20px;
  }

  .nav-right {
    flex: 3;
    margin-right: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  nav li {
    display: inline-block;
    padding-left: 20px;
  }
  .section-container {
    // position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 35px auto;
    width: 90%;
    text-align: left;
  }
}
