body {
  margin: 0;
}

nav {
  height: 55px;
  background-color: #eee;
  position: relative;
  border-bottom: 0.1rem solid #E0E0E0;
}

.nav-container {
  position: absolute;
  display: flex;
  width: 80%;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.nav-left {
 flex: 3;
 margin-left: 50px;
}

.nav-center {
  flex: 3;
  margin-right: 50px;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.nav-right {
 flex: 1;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  padding-left: 20px;

}

section {
  position: relative;
}

.section-container {
  // position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px auto;
  width: 70%;
  text-align: left;
}

footer {
  background: #eee;
  padding-top: 25px;
  margin-top: 20px;
}

/*
  ======  550px ======
*/

@media (max-width: 550px) {
  .nav-container {
    position: absolute;
    display: flex;
    width: 95%;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .nav-left {
   flex: 1;
   margin-left: 20px;
  }

  .nav-center {
    flex: 3;
    margin-right: 20px;
  }

  .nav-right {
    display: none;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  nav li {
    display: inline-block;
    padding-left: 20px;
  }

  .section-container {
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    text-align: left;
  }
}
