/*
    link
    ======================== */

a {
	text-decoration:underline;
	color: #24292e;
	// color: $body-color;
}
a:visited { color: #24292e;}
a:hover { text-decoration:underline;}


a.nounder {
	text-decoration:none;
	color: #24292e;
}
a.nounder:visited { color: #24292e;}
a.nounder:hover { text-decoration: underline;}


a.underline:link, a.underline:visited {text-decoration: underline;}
a.underline:hover { font-weight: bold;}

a.nav-right-link {
		text-decoration:none;
		color: #555;}
a.nav-right-link:hover {text-decoration: underline;}

a.blog-link{color: #24292e;
	          text-decoration:none;
						font-size: 1.1rem;}
a.blog-link:visited { color: #24292e;}
a.blog-link:hover{background-color: $blog-color;}


a.blog-link-title{text-decoration:none;
					      	font-size: 2.4rem;
									color: #24292e;}
a.blog-link-title:visited { color: #24292e;}
a.blog-link-title:hover{background-color: $blog-color;}


a.work-link{text-decoration:none;
						color: #24292e;}
a.work-link:visited {color: #24292e;}
a.work-link:hover{background-color: $work-color;}


a.about-link{text-decoration:none;
						color: #24292e;}
a.about-link:visited{ color: #24292e;}
a.about-link:hover{background-color: $about-color;}

// tag link //
a.tag:link, a.tag:visited {
		border: solid 2px #888;
    color: #888;
    padding: 2px 15px;
    text-align: center;
		font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
}
a.tag:hover, a.tag:active {
    background-color: #888;
		color: white;
		font-size: 0.9em;
}


// tag in archive //
a.tag-archive:link, a.tag-archive:visited {
  //  background-color: #888;
		border: solid 2px #888;
    color: #888;
    padding: 2px 12px;
		margin: 5px 8px;
    text-align: center;
		font-size: 1em;
    text-decoration: none;
    display: inline-block;
}
a.tag-archive:hover, a.tag-archive:active {
    background-color: #888;
		color: white;
		font-size: 1em;
}

// SNS fontawesome //
a.social-link:link, a.social-link:visited {
	text-decoration:none;
  color: #888;
}
a.social-link:hover { text-decoration:none;}

.fa-twitter-square:hover {
	color: $body-color;
}
.fa-facebook-square:hover {
	color: $body-color;
}

.circle-tw:hover, .circle-fb:hover, .circle-env:hover {
	background: $body-color;
}
