/*
    link
    ======================== */

a {
	text-decoration:none;
	color: $body-color;
}
a:hover { text-decoration:underline;}
a:visited { color: #24292e;}

a.underline:link, a.underline:visited {text-decoration: underline;}
a.underline:hover { font-weight: bold;}

a.blog-link{text-decoration:none;}
a.blog-link:hover{background-color: $blog-color;}

a.work-link{text-decoration:none;}
a.work-link:hover{background-color: $work-color;}

a.about-link{text-decoration:none;}
a.about-link:hover{background-color: $about-color;}

// tag link //
a.tag:link, a.tag:visited {
  //  background-color: #888;
		border: solid 2px #888;
    color: #888;
    padding: 2px 15px;
    text-align: center;
		font-size: 0.9em;
    text-decoration: none;
    display: inline-block;
}
a.tag:hover, a.tag:active {
    background-color: #888;
		color: white;
		font-size: 0.9em;
}


// tag in archive //
a.tag-archive:link, a.tag-archive:visited {
  //  background-color: #888;
		border: solid 2px #888;
    color: #888;
    padding: 2px 12px;
		margin: 5px 8px;
    text-align: center;
		font-size: 1em;
    text-decoration: none;
    display: inline-block;
}
a.tag-archive:hover, a.tag-archive:active {
    background-color: #888;
		color: white;
		font-size: 1em;
}

// SNS fontawesome //
a.social-link {
	text-decoration:none;
  color: #888;
}
a.social-link:hover { text-decoration:none;}

.fa-twitter-square:hover {
	color: $body-color;
}
.fa-facebook-square:hover {
	color: $body-color;
}
