/*
    link
    ======================== */

a {
	text-decoration:underline;
	color: $body-color;
	&:hover { background: #f8f8f8;}
}
// a:hover { background: #f8f8f8;}


a.hover-line {
	text-decoration:none;
	&:hover {
		text-decoration: underline;
		background: none;
	}
}

a.hover-gray {
	text-decoration:none;
	&:hover {
		background: #eee;
	}
}


a.top-label-title:link, a.top-label-title:visited {
  font-size: 0.8rem;
	text-decoration: none;
  background: #666;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  border-radius: 5px 5px 0 0;
	&:hover {
  	color: #eee;
	}
}


a.blog-side-link {
	color: #666;
}


a.tag {
	border: solid 2px #888;
	color: #888;
	padding: 2px 15px;
	text-align: center;
	font-size: 0.9em;
	text-decoration: none;
	display: inline-block;
	&:hover {
		background-color: #888;
		color: white;
	}
}

a.top-tag {
	background: #bbb;
	color: #fff;
	padding: 2px 8px;
	text-align: center;
	font-size: 0.9em;
	text-decoration: none;
	&:hover {
		background: #888;
	}
}

a.home-tag {
	background: #bbb;
	color: #fff;
	padding: 1px 7px;
	text-align: center;
	font-size: 0.8em;
	font-weight: 200;
	text-decoration: none;
	&:hover {
		background: #888;
	}
}

a.tag-archive {
	border: solid 2px #888;
	color: #888;
	padding: 2px 12px;
	margin: 5px 8px;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	&:hover {
		background-color: #888;
		color: white;
	}
}


// SNS fontawesome //
a.social-link:link, a.social-link:visited {
	text-decoration:none;
  color: #888;
	font-size: 0.9rem;
}
a.social-link:hover { text-decoration:none;}

.fa-twitter-square:hover, .fa-facebook-square:hover {
	color: $body-color;
}

.circle-fa:hover {
	background: $body-color;
}

.circle-github:hover {
	color: $body-color;
}
