/*  ======================
          variables
    ====================== */

$body-font: -apple-system, BlinkMacSystemFont,
"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$header-nav-fontsize: 0.8em;
$header-title-fontsize: 1.2em;
$blog-color: rgba(255, 231, 76, 0.5);
$work-color: rgba(107, 241, 120, 0.5);
$about-color: rgba(83, 152, 190, 0.5);
$body-color: #17202A;
