/*  ======================
          variables
    ====================== */

$body-font: -apple-system, BlinkMacSystemFont,
"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$blog-color: rgba(255, 231, 76, 0.5);
$body-color: #383838;
