<!doctype html>

{% include header.html %}

<body>
  <div class="wrapper">
  	<div class="box header_title">
    <div class="site-title"><a href="/" class="nounder">{{ site.title }}</a></div>
    </div>
    <div class="box header_pages nested">
      <div><a href="/blog/" class="blog-link">Blog</a></div>
      <div><a href="/work/" class="work-link">Work</a></div>
      <div><a href="/about/" class="about-link">About me</a></div>
   </div>
   <div class="box main">
    {{ content }}
   </div>
   <div class="box footer">{% include footer.html %}</div>
  </div>
</body>
</html>
